extends site_layout

block banner
    .dark-strip
        .container
    .bbcu-logo-bar
        .container.clear-fix
            a(href="/")
                img.bbcu-logo(src="/images/logo.png")
            a.bbcu-search-icon(href="/admin")
                img(src="/images/Icons/Search_Icon.png")
    nav.navbar.navbar-expand-lg.bbcu-nav-bar
        .container
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="#") Accounts
                li.nav-item
                    a.nav-link(href="#") Loans
                li.nav-item
                    a.nav-link(href="#") BBCUPlatinum
                li.nav-item
                    a.nav-link(href="#") Help